body{
    border: 0;
    margin: 0;
    font-family: 'Noto Sans HK', sans-serif;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color:rgba(0,0,0,0.5)
}
.row{
    margin: 0;
}
.header{
    background-color: #000;
}
.img__logo{
    width: 100px;
    margin-left: 15%;
}
.fa-vk,.fa-instagram,.fa-youtube{
    color:#fff;
    font-size: 35px;    
}
.fa:hover{
    text-decoration: none;
    color:#fff;
}
.form{
    margin-top: 35px;
}
.input__form{
    padding: 5px 0 5px 5px;
    font-family: 'Noto Sans HK', sans-serif;
    outline: none;
    border-radius: 5px;
    width: 170px;
}
.button__form{
    margin-left: 5px;
    padding: 2px 5px 6px 5px;
    border-radius: 5px;
    font-size: 25px;
    color:#fff;
}
.button__form:hover{
    color:#000;
}
.nav__link{
    margin-top: 35px;
    margin-right: 50px;
}
.nav__link:last-child{
    margin-right: 0px;
}
.p-0{
    padding: 0;
}
.logo_middle{
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.cards{
    background-color: #000;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    background-color: black;
    border: 0;
}
.btn:hover{
    background-color: black;
}
.dream{
    padding: 10px;
}
.dream__text{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 25px;
}
.footer_logo{
    color: b
}
.info{
    font-weight: 600;
}
.client{
    font-weight: 600;
}
.vk,.instagram,.youtube{
    color:#000;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 10px;
}
.youtube:hover{
    color:#000;
}
.instagram:hover{
    color:#000;
}
.vk:hover{
    color:#000;
}
@media(max-width:770px){
    .img__logo{
        margin-left: 30px;;
    }
    .nav__link{
        margin-top: 5px;
        margin-right: 50px;
    }
    .form{
        margin-top: 5px;
        margin-bottom: 15px;
    }
}

