.cont{
    width: 1900px;
    height: 820px;
    margin:auto;
}


.tleft{
    float:left;
    width: 49%;
    height: 10%;
    background-color: blue;
    margin-bottom: 10px;
}


.tright{
    float:right;
    width: 49%;
    height: 10%;
    background-color:blue;
    margin-bottom: 10px;
}


.centr{
    clear: both;
    height: 40%;
    background-color: brown;
    margin-bottom: 30px;
}


.AfterCentrLeft{
    float:left;
    background-color: black;
    width: 600px; 
    margin-right: 50px;
    height: 25%;
    margin-bottom: 30px;
}


.AfterCentrMiddle{
    float:left;
    background-color: black; 
    width: 600px;
    margin-right: 50px;
    height: 25%;
    margin-bottom: 30px;
}


.AfterCentrRight{
    float:left;
    background-color: black;
    width: 600px;
    height: 25%;
    margin-bottom: 30px;
}


.Footer{
    display: inline-block;
    width:472px;
    height:30%;
    background-color: blueviolet;
    
}
