.ButtonLink{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.ButtonStyle{
    height: 100px;
    width: 100px;
    background-color: green;
}


.ButtonMaket{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    height: 1000px;
    background-color: wheat;
}
.Top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: brown;
    font-weight: 700;
    font-size: 50px;
}
.Bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: violet;
    font-weight: 700;
    font-size: 50px;
}

